body {
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login-card {
  background-color: white;
  padding: 20px;
  width: 300px;
  height: auto;
  border-radius: 20px;
}

.login-title {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-input{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.login-button {
  background-color: blue;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: medium;
}

.login-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.login-input-box {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 5px;
}