.header {
  text-align: center;
  color: #333;
}

p {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
}

img {
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  border: #333 solid 2px;
}