

.nav-left{
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-right{
  display: flex;
  align-items: center;
}

nav{
  background-color: gray;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}


.more-vert-button{
  display: none
}

.search-box{
  display: flex;
  gap: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero-box {
  background-color: lightblue;
  justify-content: center;
  width: 100%;
  display: flex;
}

.hero{
  display: flex;
  flex-direction: column;
  padding: 50px;
  max-width: 1080px;
}

.hero h1{
  font-size: 72px;
  margin-bottom: 10px;
}

.hero p{
  font-size: 24px;
  margin-bottom: 20px;
}

.hero button{
  align-self: flex-start;
  padding: 20px 30px;
  font-size: large;
  background-color: turquoise;
  border: none;
  color: white;
}

.articles-box{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 50px;
  max-width: 1080px;
}

.article{
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.article button{
  align-self: flex-start;
  padding: 10px 20px;
  font-size: medium;
  background-color: turquoise;
  border: none;
  color: white;
}

@media screen and (max-width: 600px) {

  nav h1 {
    font-size: x-large;
  }

  nav h2{
    display: none;
  }

 .search-box {
    display: none;

  }

  .more-vert-button{
    display: block;
  }

  .articles-box{
    flex-direction: column;
    padding: 20px;

  }

}